body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}

header {
  background-color: black;
}

h1 {
  font-family: Righteous;
  color: salmon;
  font-style: italic;
  text-align: center;
  font-size: 3rem;
  padding: 3rem;
}

nav {
  background-color: salmon;
  margin-bottom: 3rem;
}

nav li {
  display: inline-block;
  padding: 1rem;
}

a {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Righteous;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#salesData {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 2rem;
  margin-left: 4rem;
}

main ul {
  margin-bottom: 2rem;
  margin-left: 6rem;
  line-height: 1.5;
}

footer {
  background-color: lightgray;
  text-align: center;
  padding: 4rem;
}
